/* Reset some default styles */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Apply some basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    background-color: #333;
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-image: url('https://media.istockphoto.com/id/489041732/photo/modern-hospital-building.jpg?s=2048x2048&w=is&k=20&c=lROe1MCELBjPBzBPZHTDReCcxzxm647qn2zpAR_CRYk=');
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.services {
    background-color: #fff;
    padding: 20px;
}

.services h2 {
    text-align: center;
}

.service {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
